<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="СosmeticsStoreEntities" connectionString="metadata=res://*/Connection.Model1.csdl|res://*/Connection.Model1.ssdl|res://*/Connection.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-0GILDFLM711\SQLEXPRESS;initial catalog=СosmeticsStore;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>